.col-sm-12 {
  background-color: blue;
  width: 1200px;
  height: 200px;
  border: 1px solid black;
}
.col-xl-1 {
  background-color: black;
  width:600px;
  height:150px;
  border: 1px dotted black;
}
